.result-container {
    display: flex;
    flex-direction: row;
    margin-top: 20px;
}

.search-card {
    font-size: 1.5rem;
    background-color: beige;
    width: 95%;
    padding-left: 1.5rem;
    height: 25rem;
}

.gene-card {
    font-size: 1.5rem;
    background-color: lightblue;
    width: 95%;
    padding-left: 1.5rem;
    height: 25rem;
    overflow-y: scroll;
}

.clinvar-card {
    background-color: #ECE9E8;
    flex: 0 0 99%;
    height: 25rem;
}

.oncokb-card {
    background-color: white;
    flex: 0 0 99%;
}

.prism-card p {
    font-size: 1.5rem;
}

.prism-card {
    background-color: #F0FFFF;
    flex: 0 0 99%;
    height: 25rem;
}

.cards {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    height: fit-content;
}

.reduced-space {
    margin-bottom: 0.5px;
}

.results {
    padding-bottom: 2rem;
    overflow-x: hidden;
}

.col-3 {
    width: 33%;
    height: 100%;
}

.col-6 {
    width: 50%;
    height: 100%;
}

.hr-light {
    color: lightgrey;
}

.col-left {
    width: 80%;
    margin-left: 1rem;
    overflow-x: hidden;
}

.col-right {
    width: calc(20% - 2rem);
    margin-left: 1rem;
    margin-right: 1rem;

}

.results {
    font-weight: normal;
}


.accordion {
    width: 99%;
}

@media screen and (max-width: 768px) {
    .result-container {
        flex-direction: column;
        font-size: 0.75rem;
    }

    .col-left {
        width: 100%;
        margin-left: 0;
    }

    .col-right {
        width: 100%;
        margin-left: 0;
        margin-right: 0;
    }

}